.sidebar {
  position:absolute ;
  top: 60px;
  left: -300px;
  width: 250px;
  height: 200%;
  /* height: calc(100% - 60px); */
  background-color: #ffffff;
  border-right: 1px solid #ffffff;
  color: #333333;
  transition: left 0.3s ease;
  padding: 0;
  z-index: 1000;
  font-family: 'Calibri', sans-serif;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 10px 10px 0;
}

.open {
  left: 0;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.li {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  transition: background-color 0.2s ease;
}

.li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.li:hover {
  background-color: #f0f0f0;
}

.innerUl {
  padding-left: 20px;
}
