
.status-select {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #000;
  }
  
  .status-active {
    color: green;
  }
  
  .status-inactive {
    color: orange;
  }
  
  .status-delete {
    color: red;
  }
  
  .status-select option {
    padding: 4px;
    background-color: white;
    color: inherit;
  }
  
  
  .status-select:focus {
    outline: none;
  }
  